.dsjkdhsdmhbsdsjkd{
    // padding-top: 30px;
    .middle{
        div{
            padding-top:10px;
        }
        .num{
            padding-left: 12px;
            display: flex;
            justify-content: space-between;
        }
    }
}