.dsjkdhsdmhbsdsjkd{
    // padding-top: 20px;
    padding-bottom: 30px;

    .topImg{
        display: flex;
        width: 100%;
        >img{
            display: flex;
            width: 100%;
        }
    }
}